@inherits LayoutComponentBase

<header class="bg-dark text-white">
    <nav class="text-center">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </nav>
</header>

@Body

<footer class="bg-success">
    All Rights Reserved
</footer>
